XML/X1/src/main/java/ru/nsu/plodushcheva/schema/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="people" type="peopleType"/>
  <xs:complexType name="parentsType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="xs:string" name="father"/>
      <xs:element type="xs:string" name="mother"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="count" use="optional"/>
  </xs:complexType>
  <xs:complexType name="childrenType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="xs:string" name="son"/>
      <xs:element type="xs:string" name="daughter"/>
      <xs:element type="xs:string" name="child"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="count" use="optional"/>
  </xs:complexType>
  <xs:complexType name="siblingsType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="xs:string" name="sister"/>
      <xs:element type="xs:string" name="brother"/>
      <xs:element name="sibling">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="P385164"/>
            <xs:enumeration value=""/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:choice>
    <xs:attribute type="xs:string" name="count" use="optional"/>
  </xs:complexType>
  <xs:complexType name="personType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element name="gender">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="male"/>
            <xs:enumeration value="female"/>
            <xs:enumeration value=""/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="first"/>
      <xs:element type="xs:string" name="last"/>
      <xs:element type="xs:string" name="wife" minOccurs="0"/>
      <xs:element type="xs:string" name="husband" minOccurs="0"/>
      <xs:element type="xs:string" name="spouse" minOccurs="0"/>
      <xs:element type="parentsType" name="parents"/>
      <xs:element type="childrenType" name="children"/>
      <xs:element type="siblingsType" name="siblings"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="peopleType">
    <xs:sequence>
      <xs:element type="personType" name="person" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="count"/>
  </xs:complexType>
</xs:schema>